<center>
  <h2>3D Rendered</h2>
  <%= vidlink "Deluxe Commercial",                 "deluxe_commercial",  "CNpJENdPFLE" %>
  <%= vidlink "Deluxe Delivers",                   "deluxe_delivers",    "V4tEC80yHJw" %>
  <%= vidlink "Reality School LA",                 "reality_school_la",  "mijcEWRkE7c" %>
  <%= vidlink "My Secret Secret",                  "my_secret_secret",   "vPKYWYtfjes" %>
  <%= vidlink "My Secret Secret 2",                "my_secret_secret_2", "eVm2qI8q7yk" %>
  <%= vidlink "Deluxe Fire",                       "deluxe_fire",        "GhAAQVvCA74" %>
  <%= vidlink "Vision Interactive Intro",          "vision_int_intro",   "v1bA3Da-TEo" %>
  <%= vidlink "Vision Interactive DVD Background", "vision_int_dvdbg",   "EH4uIG07QsU" %>
  <%= vidlink "Swish Air",                         "swish_air",          "KWVc2byn6ok" %>
  <%= vidlink "Showest",                           "showest",            "XheWIm8jn4Y" %>
  <%= vidlink "Showest Blimp",                     "showest_blimp",      "U0m68USRt3M" %>
  <%= vidlink "Nemo",                              "nemo",               "E9aUjDTEcqE" %>

  <h2>Flash Animation</h2>
  <%= swflink "93 Hour Intro",                           "93hour_intro" %>
  <%= swflink "CBS International Globe Test",            "CBSIntl_globeTest" %>
  <%= swflink "CBS International Mailer",                "CBSIntl_Mailer" %>
  <%= swflink "Dalai Camel",                             "DalaiCamelCartoon_AdultHumor" %>
  <%= swflink "Sony Pictures Publicity Login",           "SonyPictures_PublicityLogin" %>
  <%= swflink "Vision Entertainment Intro",              "VisionENT_intro" %>
  <%= swflink "Vision Entertainment Under Construction", "VisionENT_underconstruction" %>
  <%= swflink "Vision Interactive Intro Webpage",        "VisionINT_Intro_Webpage" %>
</center>
