<center>
  <h2>3D Rendered</h2>
  <%= vidlink "Deluxe Commercial",                 "CNpJENdPFLE" %>
  <%= vidlink "Deluxe Delivers",                   "V4tEC80yHJw" %>
  <%= vidlink "Reality School LA",                 "mijcEWRkE7c" %>
  <%= vidlink "My Secret Secret",                  "vPKYWYtfjes" %>
  <%= vidlink "My Secret Secret 2",                "eVm2qI8q7yk" %>
  <%= vidlink "Deluxe Fire",                       "GhAAQVvCA74" %>
  <%= vidlink "Vision Interactive Intro",          "v1bA3Da-TEo" %>
  <%= vidlink "Vision Interactive DVD Background", "EH4uIG07QsU" %>
  <%= vidlink "Swish Air",                         "KWVc2byn6ok" %>
  <%= vidlink "Showest Blimp",                     "U0m68USRt3M" %>

  <h2>Flash Animation</h2>
  <%= swflink "93 Hour Intro",                           "93hour_intro" %>
  <%= swflink "CBS International Globe Test",            "CBSIntl_globeTest" %>
  <%= swflink "CBS International Mailer",                "CBSIntl_Mailer" %>
  <%= vidlink "Dalai Camel",                             "C6qnjT6BocM" %>
  <%= swflink "Sony Pictures Publicity Login",           "SonyPictures_PublicityLogin" %>
  <%= swflink "Vision Entertainment Intro",              "VisionENT_intro" %>
  <%= swflink "Vision Entertainment Under Construction", "VisionENT_underconstruction" %>
  <%= swflink "Vision Interactive Intro Webpage",        "VisionINT_Intro_Webpage" %>
</center>
